.sidenav{
    position: fixed;
    left:0;
    bottom: 0;
    width: 25vh;
    height: 92vh;
    padding: 2vh;
    background-color: #eee;
    line-height: 1.6rem;
    text-align: center;
    border-radius: 0.3rem;
}

.progs{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
}

a.progs{
    display: block;
    background-color: white;
    margin-top: 0.1rem;
    transition: all 1s;
}

a.progs:hover{
    color: #333;
    background-color: #efefef;
    border-right: 2px solid #555;

}

#progs_current{
    padding-right: 2vh;
    background-color: whitesmoke;
    border-right: 2px solid black;
    color: dodgerblue;
}

.main_content{
    margin-left: 25vh;
}












/*================================ @MEDIA QUERIES ==================*/

@media(max-width:615px){
    .sidenav{
        display: none;
    }
    .main_content{
        margin-left: 0vh;
    }
}