.cover{
    text-align: center;
    min-height: 85vh;
    margin-top: 0.1rem;
    width: 98.9vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0 !important;
    background: url("../../images/garuda/bg/garuda.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cover_text{
    text-align: center;
    min-height: 35vh;
    vertical-align: bottom;
    text-align: center;
    background-color: rgba(50,50,50,0.3);
    backdrop-filter: blur(10px);
    padding-left: 2rem;
}

.cover_text h1{
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 2.5rem;
    font-weight: 900;
    animation: letter 2s 1;
}

.cover_text a{
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
    display: inline-block;
    margin: 0.5rem 0.3rem;
}

/* ------------------------- End of Cover ----------------------------- */

.container{
    margin-top: 0.5vh;
    padding-top: 10vh;
}

.container h2{
    text-align: center;
}

.why_Garuda{
    color: black;
    background-color: white;
    padding-bottom: 10vh;
}

ol,ul{
    padding-left: 1.75rem;
    padding-right: 1.25rem;
}

ol li h5, ul li h5{
    font-weight: 100;
}

ol li{
    line-height: 1.25rem;
}

ul{
    list-style-type: square;
}
/* ------------ Special features - Scards ---------- */
.spotlights{
    margin: 5rem 0;
    padding-left: 0 !important;
}
.scards{
    padding: 8rem 3rem;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background-color: black;
    background-image: linear-gradient(0.4turn, black, black,black,purple);
    margin-bottom: -8rem;
    transition: all 1s ease;
}

.scards:nth-child(odd){
    background-color: white;
    background-image: linear-gradient(0.55turn, white, white,white,pink);
    color: black;
}
#first_scards{
    padding-bottom: 12rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin-bottom: -10rem;
  }

.spotlights>h1, .scards>h2{
    text-align: center;
}
.scards>img{
    display: block;
    margin: 4rem auto;
    max-width: 50vw;
}