

h1{
    margin: 2rem auto;
}

.cards{
    list-style-type: none;
}

h2{
    margin-top: 1rem;
}

.dp{
    width: 50vw;
    max-width: 250px;
    height: auto;
}

ul.cards{
    list-style-type : none
 }

.aboutcard{
    text-align: center;
    width: 100%;
    margin: 4rem 0;
}
